body {
	background: #F4F4FA;
    font-family: 'Open Sans', sans-serif;} /* fondo de color del cuerpo */

	article {
		margin: 50px 0;
		background: #fff;
		color: #000;
		font-size: 16px;
		line-height: 28px;
		padding: 40px;} /* estilos de texto del video */
	
	article h2 {
		color: #2D5F85;
		font-size: 32px;
		font-weight: normal;
		margin-bottom: 20px;} /* color de las letra del video  */