table { width:500px;
        font: normal 13px Arial;
        text-align: center;
        border-collapse: collapse; } /* parametros de la tabla */

table th { font: bold 15px Arial;
           background-color: lightblue; }  /* posicionamiento del color de la tabla */
            
.fila_01 { background-color: lightgray; }  /*  posicionamiento del color de fondo */
            
.fila_02 { background-color: lightgray; }  /*  posicionamiento del color de fondo */   